/vendor/
/var/logs/
/app/Controllers/
/app/DTO/
/app/Exceptions/
/app/Http/
/app/Repositories/
/app/Services/
/bootstrap/
/controllers/
/database/
/data/
/logs/
/nano/
/src/
/storage/
/tests/
composer.lock
.env
.env.local
.env.*.local
*.log
.DS_Store

